.container-fluid
  .row
    .col-md-4.col-md-offset-4
      - if @article.errors.any?
        = @article.errors.full_messages.each do |msg|
          %li
            = msg
      = form_for @article do |f|
        %h3 Edytuj artykuł
        %p
          = f.label :title, 'Tytuł'
          = f.text_field :title, placeholder: "wpisz tytuł artukułu"
        %p
          = f.label :text, 'Treść'
          = f.text_area :text, rows: "10"
        %p
          = f.submit 'Zmień!', class: "btn btn-primary"
      = link_to 'Wróć', :back, class: "btn btn-warning"
