.container
  - if alert
    .alert.alert-danger
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      = alert
  - if notice
    .alert.alert-success
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      = notice
  %ul.list-group
    - @articles.each do |article|
      %li.list-group-item
        %h4
          = link_to article_path(article.id), class: "article-link" do
            = article.title       
        %p= article.text
  = link_to 'Nowy', new_article_path, class: "btn btn-primary"