.container-fluid
  .col-md-4.col-md-offset-4
    %h3
      = @article.title
    %div{ :style => "background-color: rgba(230,230,230,0.8);" }
      %p
        = @article.text
    %p.small.text-center.text-info
      - if @article.comments.any?
        Komentarzy: #{@article.comments.count}.
        = link_to 'Dodaj swój!', new_comment_path(article_id: @article.id)
      - else
        Nikt jeszcze nie skomentował. Bądź pierwszy!
    %ul.list-group
      - @article.comments.reverse.each do |comment|
        %li.list-group-item
          = comment.text
        %p.small.text-right.text-success
          Dodano przez:
          %strong
            = comment.author
          = comment.created_at.strftime("%H:%M")
    .options-panel
      = link_to article_path(@article), method: :delete, data: { confirm: "Na pewno usunąć?" }, class: 'btn btn-danger btn-sm' do
        %span &times;
        Usuń
      = link_to 'Edytuj', edit_article_path(@article), class: 'btn btn-info btn-sm'
      = link_to 'Wróć', articles_path, class: "btn btn-primary"
          